:root {
    --primary: #f5f7fc;
    --secondary: #000205;
}

* {
    box-sizing: border-box;
}

html {
    background-color: var(--primary);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header start */
.hero-body {
    background-image: linear-gradient(to right, #adcbff, #03296b);
    text-align: center;
    padding: 1% 0;
}

.title {
    color: var(--primary);
    font-size: 3em;
}
/* header end */

#main {
    margin: 5px 15px;
}

hr {
    height: 2px;
    background-color: var(--secondary);
}

h2 {
    padding: 0 0 5px 0;
    font-size: 1.4em;
    color: var(--secondary);
}

h3 {
    padding: 5px 0 5px 0;
    font-size: 1.2em;
    color: var(--secondary);
    margin: 0 0 10px 0;
}

button {
    margin: 10px 0 0 0;
    max-width: 100%;
    min-width: 100%;
}

.hidden {
    display: none;
}

/* current weather start */
#current-weather {
    border: solid var(--secondary) 2px;
    border-radius: 4px;
    margin-top: 7px;
    padding: 10px;
}

#current-city {
    text-transform: capitalize;
}

#uvi {
    color: white;
    padding-left: 4px;
    padding-right: 4px;
}

.uviGood {
    background-color: green;
}

.uviModerate {
    background-color: yellow;
}

.uviHigh {
    background-color: orange;
}

.uviVeryHigh {
    background-color: red;
}

.uviExtreme {
    background-color: purple;
}
/* current weather end */

/* five day start */
.fiveDay {
    background-image: linear-gradient(#03296b, #6f9be8);
    color: var(--primary);
    margin: auto;
    border-radius: 4px;
}
/* five day end */